h1 Important Dates
hr
table.table.table-striped
  tr
    td 30 July 2015
    td Confirm Participation
  tr
    td 05 August 2015
    td Delegation Fee
  tr
    td 15 August 2015
    td Crisis Application Deadline
  tr
    td 30 August 2015
    td Delegates List and Fee
  tr
    td 1-2 October 2015
    td CEP MOAS
