h1 Important Dates
hr
table.table.table-striped
  tr
    td 5 August 2014
    td Delegation fee payment
  tr
    td 30 August 2014
    td Final payment and delegate list
  tr
    td 22 September 2014
    td Deadline to send in position papers
  tr
    td 25 September 2014
    td CEPMOAS
