h1 Schedule
hr
.schedule
  table.table.table-striped
    tr
      th Thursday, September 25
      td
    tr
      td 8:00-9:00
      td opening ceremony
    tr
      td 9:00-11:00
      td committees in session
    tr
      td 11:00-11:30
      td coffee break
    tr
      td 11:30-1:30
      td committees in session
    tr
      td 1:30-2:30
      td lunch (working lunch)
    tr
      td 2:30-4:30
      td committees in session
  table.table.table-striped
    tr
      th Friday, September 26
      td
    tr
      td 8:00-10:00
      td committees in session
    tr
      td 9:00
      td advisors' meeting
    tr
      td 10:00-10:30
      td coffee break
    tr
      td 10:30-12:30
      td committees in session
    tr
      td 12:30-1:30
      td buffet lunch
    tr
      td 1:30-3:00
      td committees in session
    tr
      td 3:00-4:00
      td closing ceremony
      