ul#committees-nav.dropdown-menu
  li
    a(href='#committees/asamblea') Asamblea Nacional de Diputados de Panam&aacute;
  li
    a(href='#committees/unsc') Consejo de Seguridad de las Naciones Unidas
  li
    a(href='#committees/cumbre') Cumbre de las Am&eacute;ricas
  li
    a(href='#committees/historico') Comit&eacute; Hist&oacute;rico 1826
  li
    a(href='#committees/ichr') Corte - Court
  li
    a(href='#committees/whs') 2016 World Humanitarian Summit
  li
    a(href='#committees/permanent') Permanent Council of the OAS
  li
    a(href='#committees/crisis') Crisis Cabinet
