ul#committees-nav.dropdown-menu
  li
    a(href='#committees/asamblea') Asamblea Nacional de Diputados
  li
    a(href='#committees/scitech') Comit&eacute; Inter-Americano de Ciencia y Tecnolog&iacute;a
  li
    a(href='#committees/cumbre') Cumbre de las Am&eacute;ricas
  li
    a(href='#committees/oas') Misi&oacute;n Especial de la OEA
  li
    a(href='#committees/ichr') Corte - Court
  li
    a(href='#committees/hemispheric') Hemispheric Security
  li
    a(href='#committees/mcmfa') Meeting of Consultation of Ministers of Public Security
  li
    a(href='#committees/crisis') Crisis Cabinet
